---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=19143&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "19143",
                       "short_name" : "19143",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Philadelphia",
                       "short_name" : "Philadelphia",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Pennsylvania",
                       "short_name" : "PA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Philadelphia, PA 19143, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.95728889999999,
                          "lng" : -75.20478799999999
                       },
                       "southwest" : {
                          "lat" : 39.9234091,
                          "lng" : -75.25161199999999
                       }
                    },
                    "location" : {
                       "lat" : 39.9412882,
                       "lng" : -75.21873459999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.95728889999999,
                          "lng" : -75.20478799999999
                       },
                       "southwest" : {
                          "lat" : 39.9234091,
                          "lng" : -75.25161199999999
                       }
                    }
                 },
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 25 Feb 2014 15:11:05 GMT
[...]
